<div class="flex flex-col md:flex-row w-full md:justify-between h-auto gap-8 md:gap-5 mt-10">
  <!-- Juegos -->
  <a
    href="./juegos.html"
    class="
      flex flex-col flex-shrink-0
      p-10
      flex-grow
      h-96
      gap-5
      justify-center
      items-center
      rounded-xl
      bg-pink-100
      transform
      -rotate-3
      transition-all
      outline-none
      duration-200
      ease-in-out
      hover:shadow-xl
      focus:outline-none
    "
  >
    <i class="material-icons-round text-pink-600" style="font-size: 80px">extension</i>
    <p class="text-3xl text-pink-700 text-center">Juegos</p>
  </a>

  <!-- Biblioteca -->
  <a
    href="./biblioteca.html"
    class="
      flex flex-col flex-shrink-0
      md:mt-44
      p-10
      flex-grow
      h-96
      gap-5
      justify-center
      items-center
      rounded-xl
      bg-green-100
      transform
      rotate-3
      transition-all
      outline-none
      duration-200
      ease-in-out
      hover:shadow-xl
      focus:outline-none
    "
  >
    <i class="material-icons-round text-green-600" style="font-size: 80px">auto_stories</i>
    <p class="text-3xl text-green-700 text-center">Biblioteca</p>
  </a>
  <!-- Videos -->
  <a
    href="./videos.html"
    class="
      flex flex-col flex-shrink-0
      p-10
      flex-grow
      h-96
      gap-5
      justify-center
      items-center
      rounded-xl
      bg-yellow-100
      transform
      -rotate-3
      transition-all
      outline-none
      duration-200
      ease-in-out
      hover:shadow-xl
      focus:outline-none
    "
  >
    <i class="material-icons-round text-yellow-600" style="font-size: 80px">play_circle</i>
    <p class="text-3xl text-yellow-700 text-center">Videos</p>
  </a>
  <!-- Info -->
  <a
    href="./sobre_nosotros.html"
    class="
      flex flex-col flex-shrink-0
      p-10
      md:mt-44
      flex-grow
      h-96
      gap-5
      justify-center
      items-center
      rounded-xl
      bg-blue-100
      transform
      rotate-3
      transition-all
      outline-none
      duration-200
      ease-in-out
      hover:shadow-xl
      focus:outline-none
    "
  >
    <i class="material-icons-round text-blue-600" style="font-size: 80px">info</i>
    <p class="text-3xl text-blue-700 text-center">Nosotros</p>
  </a>
</div>
